.app-header {
    background-color: #fff;
    font-size: calc(10px + 2vmin);
    font-family: bold;
    color: black;
    list-style: none;
    margin: 0;
    padding: 15px 0;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: black !important;    
    letter-spacing: .3px;
    font-family: system-ui;
}

.header-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-box {
    flex: 1;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    align-items: center;
}

.right-box {
    flex: 1;
    display: flex;
    /* border: 1px solid green; */
}

.first {
    flex: 2;
    /* border: 1px solid yellow; */
}

.second {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
    align-items: center;
}

.searchSection {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.searchIcon {
    padding: 10;
}

.input {
    flex: 1;
    padding: 10px 10px 10px 0;
    background-color: #fff;
    color: #424242;
}

.content-surface {
    background-color: #e8e4e5;
    height: 300vh;
}